html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --anim: cubic-bezier(.76, 0, .24, 1);
}

p {
  margin: 0px;
}

.container {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  gap: 20px;
  overflow: hidden;
  transition: all 1.5s var(--anim);
}

.loading,
.intro-container {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  transition: height 1s var(--anim);
}

.intro-container {
  font-size: 5rem;
  transition: width 1s var(--anim);
}

.black-box {
  position: absolute;
  background-color: black;
  left: 0%;
  width: 40%;
  height: 30%;
  transition: width 1s;
}
.black-box.active {
  width: 0%;
  overflow: hidden;
}

.intro-container.done {
  width: 0%;
  overflow: hidden;
}

.intro-1 {
  top: 15%;
}

.intro-3 {
  bottom: 15%;
}

.square {
  position: absolute;
  background-color: black;
  width: 5%;
  height: 10%;
  animation: square 1s ease-in-out 300ms infinite alternate both;
}

.intro {
  position: absolute;
  text-align: center;
  left: 120%;
}

.hidden {
  display: none;
}

.play-intro {
  animation: intro 2.5s ease-in-out;
}

@keyframes square {
  0% {
    left: 0%;
  }
  100% {
    left: 40%;
  }
}
@keyframes intro {
  0% {
    left: 120%;
  }
  50% {
    left: 50%;
  }
  65% {
    left: 50%;
  }
  100% {
    left: -50%;
    overflow: hidden;
  }
}
p.loading-text {
  font-size: 100px;
}

p.title {
  font-size: 4rem;
  margin-block: 0.5rem;
}

.loading.done {
  height: 0%;
  overflow: hidden;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.flex-kiri {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}

.flex-kanan {
  flex: 1;
  padding: 10%;
}

.project-image {
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

.flex-box {
  flex: 1;
  padding-inline: 5%;
}

.carousel {
  height: 100vh;
  position: relative;
  transition: all 1.5s var(--anim);
}
.carousel-item {
  height: 100vh;
  transform-style: preserve-3d;
  perspective: 1000px;
  max-width: 1100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1.5s var(--anim);
}
@media screen and (max-width: 991px) {
  .carousel-item {
    display: block;
    text-align: center;
  }
}
.carousel-item-image {
  flex: 1;
  margin-left: 5vw;
  transform: translateZ(50px);
  transition: all 1.5s var(--anim);
  transform: translateY(20vh) translateX(20%) rotateY(-90deg);
  filter: blur(20px);
  position: relative;
  z-index: 1;
}
.carousel-item-content {
  flex: 1;
  margin-left: 5vw;
  transform: translateZ(50px);
  transition: all 1.5s var(--anim);
  transform: translate3d(20vw, 0, 0);
  filter: blur(20px);
  position: relative;
  z-index: 10;
}
.carousel-item.active .carousel-item-image {
  transform: translate(0);
  filter: blur(0);
}
.carousel-item.active .carousel-item-content {
  transform: translateZ(0);
  filter: blur(0);
}
.carousel-item.prev .carousel-item-image {
  transform: translate(0) rotateY(90deg);
  filter: blur(20px);
}
.carousel-item.prev .carousel-item-content {
  transform: translateX(20vw) translateY(0);
  filter: blur(10px);
}

.carousel-button {
  position: fixed;
  z-index: 2;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.nav {
  position: fixed;
  z-index: 3;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%) translateY(5rem) scale(0.5);
  margin: 0;
  border: 1px solid #ccc;
  transition: transform 1s var(--anim);
}
.nav.nav-show {
  transform: translateX(-50%) translateY(0) scale(1);
}
.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav p {
  background-color: rgb(236, 236, 236);
  font-size: larger;
  min-width: 80px;
  padding: 20px 10px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 1s var(--anim);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav p::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: black;
  z-index: 0;
  opacity: 0;
  transition: all 0.4s var(--anim);
}
.nav p.active .normal {
  color: white;
}
.nav p.active::before {
  opacity: 1;
  height: 100%;
}
.nav p .normal,
.nav p .hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  transition: all 0.6s var(--anim);
}
.nav p .normal {
  opacity: 1;
  transform: translateY(0) scale(1);
  color: black;
}
.nav p .hover {
  opacity: 0;
  transform: translateY(200%) scale(0);
  filter: blur(10px);
  color: whitesmoke;
  pointer-events: none;
}
.nav p:hover::before {
  opacity: 1;
  height: 100%;
}
.nav p:hover {
  cursor: pointer;
}
.nav p:hover .normal {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(-200%) scale(0, 5);
}
.nav p:hover .hover {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
  pointer-events: auto;
}

button {
  border: 1px solid black;
  padding: 12px 30px 12px 30px;
  background-color: white;
  margin-block: 0.75rem;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0px 0px 1px;
  transform: all 2s var(--anim);
  transition-duration: 0.3s;
  overflow: hidden;
}
button:hover {
  transform: translateY(-10px);
  box-shadow: 0px 7px 1px rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
}
button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 1px;
}
button.disabled {
  cursor: not-allowed;
}
button.disabled:hover {
  transform: none;
  box-shadow: none;
}
button.disabled:active {
  transform: none;
}
button.next {
  border-radius: 0 10px 10px 0;
}
button.pref {
  border-radius: 10px 0 0 10px;
}

/*# sourceMappingURL=style.css.map */
