@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

html {
  background-color: black;
}

body {
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.overlay {
  font-family: "Oswald", sans-serif;
}

:root {
  --anim: cubic-bezier(0.76, 0, 0.24, 1);
}

p {
  margin: 0px;
}

.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-block: 0.5rem;
}
@media screen and (max-width: 991px) {
  .title {
    font-size: 2rem;
  }
}

.nav {
  position: fixed;
  z-index: 3;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%) translateY(5rem) scale(0.5);
  margin: 0;
  border: 1px solid #ccc;
  transition: transform 0.5s var(--anim);
}
.nav.nav-show {
  transform: translateX(-50%) translateY(0) scale(1);
}
.nav-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav p,
.nav a {
  background-color: rgb(236, 236, 236);
  font-size: large;
  min-width: 80px;
  padding: 20px 10px;
  border: none;
  position: relative;
  overflow: hidden;
  transition: all 0.5s var(--anim);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav p::before,
.nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: black;
  z-index: 0;
  opacity: 0;
  transition: all 0.4s var(--anim);
}
.nav p.active .normal,
.nav a.active .normal {
  color: white;
}
.nav p.active::before,
.nav a.active::before {
  opacity: 1;
  height: 100%;
}
.nav p .normal,
.nav p .hover,
.nav a .normal,
.nav a .hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  transition: all 0.5s var(--anim);
}
.nav p .normal,
.nav a .normal {
  opacity: 1;
  transform: translateY(0) scale(1);
  color: black;
}
.nav p .hover,
.nav a .hover {
  opacity: 0;
  transform: translateY(200%) scale(0);
  filter: blur(10px);
  color: whitesmoke;
  pointer-events: none;
}
.nav p:hover::before,
.nav a:hover::before {
  opacity: 1;
  height: 100%;
}
.nav p:hover,
.nav a:hover {
  cursor: pointer;
}
.nav p:hover .normal,
.nav a:hover .normal {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(-200%) scale(0, 5);
}
.nav p:hover .hover,
.nav a:hover .hover {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
  pointer-events: auto;
}

button {
  margin-top: 0.75rem;
}

button,
a.btn {
  font-family: "Space Grotesk", sans-serif;
  display: inline-block;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
  padding: 12px 30px;
  background-color: white;
  font-weight: bolder;
  font-size: 15px;
  box-shadow: 0px 0px 1px;
  transition: all 2s ease;
  transition-duration: 0.3s;
  overflow: hidden;
}
button:hover,
a.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0px 7px 1px rgb(0, 0, 0);
  border: 1px solid black;
  cursor: pointer;
}
button:active,
a.btn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 1px;
}
button:disabled,
a.btn:disabled {
  cursor: not-allowed;
  color: gray;
}
button:disabled:hover,
a.btn:disabled:hover {
  transform: none;
  box-shadow: none;
}
button:disabled:active,
a.btn:disabled:active {
  transform: none;
}
button.next,
a.btn.next {
  border-radius: 0 10px 10px 0;
}
button.pref,
a.btn.pref {
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 991px) {
  button.next, button.pref,
  a.btn.next,
  a.btn.pref {
    font-size: small;
    padding: 10px 20px;
  }
}

.w-full {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
