.contact-container {
  margin: 5rem;

  @media screen and (max-width: 991px) {
    margin: 2rem;
    
  }
}

.contact-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;

  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.more {
  grid-column: 1 / -1;
}

h1.title,
h2.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-bottom: black 3px solid;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  input {
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
  }

  textarea {
    font-family: "Space Grotesk", sans-serif;
    resize: vertical;
    padding: 0.5rem;
    grid-column: 1 / -1;
  }

  button {
    grid-column: 1 / -1;

    @media screen and (max-width: 991px) {
      grid-column: 1;
      margin-bottom: 10rem;
    }
  }
}
